
h1 {
    text-align: center
}
h2 {
    text-align: center
}
p {
    text-align: center
}


body { 
  background-color: #16161a; 
}


.smaller-image {
  width: 25%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}


.hero {
  background-color: #222231;
  background-size: 100%;
  background-position: center;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
}

nav {
  background-color: #312f46;
  display: flex; /* Change display to flex */
  justify-content: center; /* Horizontally center the items */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15;
  border-radius: 24px;
  display: flex; /* Change display to flex */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 24px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #675085;
}
footer {
  background-color: #222231;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.center {
  text-align: center;
  
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.center a {
    color: white;
    text-decoration: none;
  }


.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}






.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 700px; /* Adjust as needed */
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 15px;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px); /* Adjust as needed */
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 40px); /* Adjust as needed */
  }
}